body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #242424;
    color: aliceblue;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#div-input{
    display: block;
    margin-bottom: 10px;
}

/* Estilos para telas de até 400 pixels de largura e até 1000 pixels de largura */
@media screen and (max-width: 400px), (max-width: 1000px) {
    #div-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    #numero-escolhido {
        margin-bottom: 15px;
    }
}

/*Para tirar as setas do input number no firefox*/
input[type="number"] {
    -moz-appearance: textfield; 
}
/*Para tirar as setas do input number no chrome ou outros navegadores*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}

#numero-escolhido{
    border: none;
    padding: 10px;
    margin-right: 10px;
    background-color: aliceblue;
    color: #242424;
    font-weight: bolder;
    border-radius: 10px;
}

#fazer-calculo{
    border: none;
    padding: 10px;
    background-color: aliceblue;
    color: #242424;
    font-weight: bold;
    border-radius: 10px;
}

#fazer-calculo:hover{
    background-color: #242424;
    border: 1px solid whitesmoke;
    color: aliceblue;
}

#div-resultado{
    font-size: 10px;
}